<nav class="left-nav">
    <a href="index.html#introduction" class="nav-link">
        <i class="bi bi-person"></i>
        <span>Introduction</span>
    </a>
    <a href="index.html#experience" class="nav-link">
        <i class="bi bi-briefcase"></i>
        <span>Experience</span>
    </a>
    <a href="index.html#projects" class="nav-link">
        <i class="bi bi-collection"></i>
        <span>Projects</span>
    </a>
    <a href="index.html#education" class="nav-link">
        <i class="bi bi-mortarboard"></i>
        <span>Education</span>
    </a>
    <hr style="border-color: var(--border); margin: 12px 0;">
    <a href="File/MacasinagVincent_Resume.pdf" class="nav-link" download="MacasinagVincent_Resume.pdf">
    <i class="bi bi-file-earmark-person"></i>
    <span>Download Resume</span>
</a>
</nav>